@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-body-14: Rubik;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --body-body-14-size: 14px;

  /* Colors */
  --gray-white: #fff;
  --gray-1: #8b8b8b;
  --primary-primary-blue: #061237;
  --color-whitesmoke-100: #f7fafc;
  --color-darkgray: #9f9f9f;
  --color-lightgray: #cbd5e0;
  --color-slategray: #67728a;
  --color-mediumslateblue: #005bff;

  /* Gaps */
  --gap-9xs: 4px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-sm: 14px;
  --padding-xl: 20px;
  --padding-21xl: 40px;
  --padding-3xs: 10px;
  --padding-2xs: 11px;
  --padding-17xl: 36px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-23xl: 42px;
  --br-8xs: 5px;
  --br-11xl: 30px;
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-xs: 12px;

  /* Effects */
  --effect: 0px 0px 16px rgba(0, 0, 0, 0.06);
}


